---
const plataforma = "github";
const nomeUsuario = "withastro";
---

<footer>
    <p>Aprenda mais sobre meus projetos em <a href={`https://www.${plataforma}.com/${nomeUsuario}`}>{plataforma}</a>!</p>
    <a href="http://linkedin.com">Meu linkedin</a>
    <a href="http://instagram.com"> Acesse meu instagram</a>
  </footer>