---
const meublog = "Meu Blog de Aprendizado sobre Astro"
---

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="astro.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
        <a href="http://localhost:4321/blog">{meublog}</a>
        <a href="/">Início</a>
    <a href="http://sobre">Sobre</a>
    <a href="/blog/">Blog</a>
        <ul>
        <li> <a href="/postagens/post-1/">Acesse meu primeiro de postagem</a></li>   
        <li> <a href="/postagens/post-2/">Acesse minha segunda de postagem</a></li>  
        <li> <a href="/postagens/post-3/">Acesse minha terceira de postagem</a></li>           
        </ul>
		<h1>Meu blog astro</h1>
        <h2>Noticias blog</h2>
       <p>Apartir daqui, mostrarei minha jornada</p>
	</body>
</html>
