---
import LayoutBase from '../layouts/LayoutBase.astro';
const tituloPagina = "Página Inicial";
---
<LayoutBase tituloPagina={tituloPagina}>
  <h3>O subtítulo incrível da minha pagina Inicial</h3>
</LayoutBase>
<script>
  import "../scripts/menu.js"
</script>