<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="youtube.ico" type="image/x-icon">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sobre</title>
	</head>
	<body>
		<h1>O astro é muito divertido</h1>
        <h2>Não parece ser tão dificil quanto eu achava</h2>
	</body>
</html>
