---
const plataforma = "github";
const nomeUsuario = "withastro";
import Social from '../components/social.astro';
---
<style>
  footer{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
  
</style>
<footer>
  <p>Aprenda mais sobre meus projetos em <a href={`https://www.${plataforma}.com/${nomeUsuario}`}>{plataforma}</a></p>
  <Social plataforma="twitter" nomeUsuario="astrodotbuild" />
  <Social plataforma="github" nomeUsuario="withastro" />
  <Social plataforma="youtube" nomeUsuario="astrodotbuild" />
</footer>